{% extends 'base.html.twig' %}
{% block section %}
    {% set mois = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin","Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"] %}

    <section id="CV">

        <div id="Competences"
             class="section-cv active">
            <h3 class="titre_comp">
                <div>Comp&eacute;tences</div>
            </h3>
            <ul id="listeComp">


                {% for categorie in cv.typeComp %}
                    <li class="categorie"> {{ categorie.type }} </li>

                    {% for competences in cv.competences|cast_to_array %}
                        {% if competences[1][0].type == categorie.type %}
                            {% for competence in competences[1] %}
                                <li class="competence"> {{ competence.nom }} </li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                {% endfor %}
            </ul>
        </div>

        <div id="experiences"
             class="section-cv">
            <h3 class="titre_comp">
                <div>Exp&eacute;riences</div>
            </h3>
            <ul id="listeExp">
                {% for experience in cv.experiences %}
                    <li class="experience">
                        <p class="poste">{{ experience.type }} {{ experience.poste }}</p>
                        <p>{{ experience.organisation }}</p>
                        <p class="date">
                            {% set duree = "" %}


                            {% set duree = duree ~ 'Du ' ~ experience.debut['day']~' '~mois[experience.debut['month']-1]~' '~experience.debut['year']~' au ' %}
                            {% set duree = duree~experience.fin['day']~' '~mois[experience.fin['month']-1]~' '~experience.fin['year'] %}

                            {{ duree }}


                        </p>
                    </li>

                {% endfor %}

            </ul>
        </div>

        <div id="Formations"
             class="section-cv">
            <h3 class="titre_comp">
                <div>Formations</div>
            </h3>
            <ul id="listeForm">

                {% for formation in cv.formations %}
                    <li class="formation">
                        <p class="diplome"> {{ formation.nom }} </p>
                        <p> {{ formation.etablissement }} </p>
                        <p class="date">

                            {% set duree = "" %}
                            {% if formation.fin == '0000-00-00' %}
                                {% set duree = duree~'Depuis '~mois[formation.debut['month']-1]~' '~formation.debut['year'] %}
                            {% else %}
                                {% set duree = duree~'De '~mois[formation.debut['month']-1]~' '~formation.debut['year']~' à ' %}
                                {% set duree = duree~mois[formation.fin['month']-1]~' '~formation.fin['year'] %}
                            {% endif %}

                            {{ duree }}

                        </p>

                        {% if formation.commentaire != "" %}
                            <p id="commentaire"> {{ formation.commentaire }} </p>
                        {% endif %}
                    </li>
                {% endfor %}

            </ul>
        </div>
    </section>
{% endblock %}
{% block javascript_body %}
    <script src="{{ asset('js/pluginPageEffect.js') }}"></script>
{% endblock %}