{% extends 'base.html.twig' %}
{% block section %}
    <section id="LM"
             class="show">
        <article>
            <div class="tete">
                <p class="sans_espace">{{ xml.nom }}</p>
                <p class="sans_espace">{{ xml.adresse }}</p>
                <p class="sans_espace">{{ xml.ville }}</p>
                <p class="sans_espace_top">{{ xml.contact }}</p>
            </div>
            <p id="date">{{ xml.date }}</p>


            <div class="tete">
                <p>{{ xml.sujet }}</p>
            </div>
            <p id="debutCorps">{{ xml.debutCorps }}</p>

            <div id="corps">


                <p>{{ xml.introduction }}</p>
                <p>{{ xml.corpsPrincipal }}</p>
                <p>{{ xml.fin }}</p>
                <p>{{ xml.politesse }}</p>


            </div>
            <p id="pied">{{ xml.nom }}</p>
        </article>
    </section>
{% endblock %}
{% block javascript_body %}
    <script src="{{ asset('js/sendMail.js') }}"></script>
{% endblock %}
